.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background-color: gray;
  border-radius: 20px;
  margin: 0 auto;

  &:hover {
    background-color: red;
  }
}